/*----------------------------------------------
    
    quick music player w/ slider: <audio>
    - written by HT (@glenthemes)
    
----------------------------------------------*/

.q-music-player-wrap, .q-music-player-wrap * {
    box-sizing:content-box!important;
}

.q-music-player-wrap {
	display:flex;
	align-items:center;
	line-height:0;
}

.q-music-player-wrap audio { display:none }

.q-controls {
	position:relative;
	flex-shrink:0;
	padding:var(--Quick-Music-Player-Buttons-Touch-Padding);
	margin:calc(0px - var(--Quick-Music-Player-Buttons-Touch-Padding));
	cursor:pointer;
}

.q-controls + .q-current-time {
	margin-left:calc(0px - var(--Quick-Music-Player-Buttons-Touch-Padding));
}

.q-controls ~ .q-mcwrap {
	margin-left:var(--Quick-Music-Player-Slider-Gaps)
}

.q-mcwrap {
	position:relative;
	width:100%;
	flex:1;
}

.q-slider-wrap, .q-slider-bar, .q-slider-fill, .q-slider-knob {
	pointer-events:none;
}

.q-slider-wrap {
	overflow:hidden;
}

.q-slider-bar {
	width:100%;
	height:var(--Quick-Music-Player-Slider-Height);
	background:var(--Quick-Music-Player-Slider-BG);
	border-radius:var(--Quick-Music-Player-Slider-Corner-Roundness);
	overflow:hidden;
}

.q-slider-fill {
	position:absolute;
	top:0;left:0;
	width:var(--Quick-Music-Player-Fill-Percentage);
	height:100%;
	background:var(--Quick-Music-Player-Slider-Fill-Color);
	border-radius:var(--Quick-Music-Player-Slider-Corner-Roundness) 0 0 var(--Quick-Music-Player-Slider-Corner-Roundness);
}

.q-slider-knob-wrap {
	position:absolute;
	top:0;left:0;
	margin-top:calc(0px - var(--Quick-Music-Player-Slider-Touch-Padding));
	width:100%;
	height:100%;
	padding:var(--Quick-Music-Player-Slider-Touch-Padding) 0;
}

.q-slider-knob {
	position:absolute;
	top:0;left:0;
	margin-top:calc(0px - (var(--Quick-Music-Player-Knob-Height) / 2) + (var(--Quick-Music-Player-Slider-Height) / 2) + var(--Quick-Music-Player-Slider-Touch-Padding));
	margin-left:var(--Quick-Music-Player-Fill-Percentage);
	width:var(--Quick-Music-Player-Knob-Width);
	height:var(--Quick-Music-Player-Knob-Height);
	background:var(--Quick-Music-Player-Knob-Color);
}

.q-current-time, .q-duration {
	padding:0 var(--Quick-Music-Player-Slider-Gaps);	
}

.q-duration:last-child {
	padding-right:0;
}
